// Buttons style
.default-button {
    border: none;
    background-color: white;
    color: @blue-light;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 4px;
}

// Buttons langs
.default-button-lang {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    @media (max-width: @mobile-width) {
        margin: 10px;
    }
    @media (min-width: @desktop-width) {
        margin: auto 10px;
    }
}

//- Box style
.default-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid lighten(@grey-border, 35%);
    background-color: @grey-bg;
    border-radius: 8px;
    transition: 0.5s;
    -webkit-box-shadow: 4px 4px 12px -1px lighten(@grey-border, 33%);
    -moz-box-shadow: 4px 4px 12px -1px lighten(@grey-border, 33%);
    box-shadow: 4px 4px 12px -1px lighten(@grey-border, 33%);
    @media (max-width: @mobile-width) {
        padding: 10px 20px 10px 0;
        margin: 0 auto 40px auto;
    }
    @media (min-width: @desktop-width) {
        padding: 30px 20px 30px 0;
        margin: 0 0 40px 0;
    }
}

// Button lang active
.ods-lang--active {
    color: @blue-dark!important;
    background-color: white!important;
}

// Border when menu opened
.ods-header--active {
    border-bottom: 1px solid lighten(@grey-border, 30%);
    bottom: 60px;
    height: auto;
}

.ods-footer--active {
    border-top: 1px solid lighten(@grey-border, 30%);
}

.ods-container--active {
    overflow-y: hidden;
}