// Buttons style
.default-button {
    border: none;
    background-color: white;
    color: @identity-300;
    padding: @spacing-50*2;
    border-radius: 4px;
    cursor: pointer;
    font-family: @font-family;
}

// Buttons langs
.default-button-lang {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    &:focus,
    &:hover {
        outline: none;
        color: @blue-dark  !important;
        background-color: white !important;
    }
    @media (max-width: @mobile-width) {
        margin: 10px;
    }
    @media (min-width: @desktop-width) {
        margin: auto 10px;
    }
}

//- Container default
.default-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //height: auto;
    //@media (max-width: @mobile-width) {
    //    flex-direction: column;
    //    padding: 20px 0 0 0;
    //    margin-bottom: 60px;
    //}
    @media (min-width: @desktop-width) {
        justify-content: flex-start;
    }
    //@media all and (-ms-high-contrast: active),
    //(-ms-high-contrast:none) {
    //    width: auto
    //}
}

//- Box style
.default-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid @grey-border;
    background-color: @grey-bg;
    border-radius: 4px;
    transition: 0.5s;

    @media (max-width: @mobile-width) {
        padding: 20px 20px 20px 0;
        margin: 0 auto;
    }
    @media (min-width: @desktop-width) {
        padding: 30px 20px 30px 0;
        margin: 0;
    }
}